$primary: #0d6efd;
$primary2: #0d6dfdb3;
$secondary: #6c757d;
$danger: #d60000;
$green: #00bd9d;
$yellow: #ffbc0a;
$orange: #f1963b;
$blue: #32ccff;
$cyan: #25a0e2;

.new-card-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.new-card-info .drop-down-save,
.new-card-info .drop-down {
  border-radius: 10px;
  display: flex;
  height: 40px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-family: "Almarai" !important;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  background-color: $primary;
}

.new-card-info .drop-down[aria-expanded="true"] {
  border-radius: 10px 10px 0px 0px;
}

.new-card-info .dropdown-menu.show {
  background-color: #eaeced80;
  min-width: 10rem !important;
  padding: 0px !important;
  border-radius: 0px 0px 10px 10px;
}

.store .dropdown-menu.show {
  background-color: #eaeced80;
  min-width: 10.7rem !important;
  padding: 0px !important;
  border-radius: 0px 0px 10px 10px;
}

.close-icon {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1.5px solid $danger;
  padding: 8px 24px;
}

.close-icon span {
  margin-inline-start: 8px;
  color: $danger;
  font-weight: 700;
}

.close-icon i,
.info-icon i {
  font-size: 20px;
}

.info-icon {
  display: flex;
  height: 40px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1.5px solid #283c47;
  cursor: pointer;
}

.add-product-table {
  display: flex;
  height: 40px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  opacity: 0.8;
  background-color: transparent;
  color: #fff;
  font-family: "Almarai" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid $primary;
  background-color: $primary;
}

.add-product-new-table {
  display: flex;
  height: 40px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  opacity: 0.8;
  background-color: transparent;
  color: #fff;
  color: $primary;
  font-family: "Almarai" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid $primary;
}